body {
  text-align: center;
  font-family: 'Special Elite', cursive;
}

#textArea {
  width: 700px;
  height: 100px;
  font-size: 36px;
}

#inputArea {
  width: 700px;
  height: 50px;
}

#inputText {
  width: 700px;
  height: 50px;
  font-size: 16px;
}

#translationChoices {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 80px;
  margin-bottom: 0px;
  font-size: 18px;
}

#translationArea {
  width: 700px;
  height: 100px;
  font-size: 36px;
  margin-top: 0px;
}

#translationInputText {
  width: 700px;
  height: 50px;
  font-size: 16px;
}
